# Git version control
**/.git
**/.github
**/.gitignore
**/templates
**/docs
**/Makefile
**/README.md
**/*.code-workspace
**/tmp


# Docker configuration files
**/Dockerfile*
**/docker-compose*

# Go & Build Artifacts
**/bin/
**/obj/
**/dist/
**/vendor/
**/*.test
**/*.out
**/*.exe

# Documentation
**/*.md
**/docs/
**/bin
**/.env.example
**/.gitattributes
**/.gitignore
**/.Dockerfile
**/.Dockerfile.Dev

# Local configurations and secrets
**/.env
**/*.local
**/.idea/
**/.vscode/

# System-specific junk
**/.DS_Store