COMPOSE_PROJECT_NAME=obywatel_app
DOCKER_RESTART_POLICY=no
APP_ENV=development

# --- AUTH DATABASE ---
AUTH_DB_USER=auth_user
AUTH_DB_NAME=auth_database

# --- IDENTITY DATABASE ---
IDENTITY_DB_USER=identity_user
IDENTITY_DB_NAME=identity_database

# --- CITIZEN DOCS DATABASE ---
CITIZEN_DB_USER=citizen_user
CITIZEN_DB_NAME=citizen_database

# --- NOTIFICATION DATABASE ---
NOTIFY_DB_USER=notification_user
NOTIFY_DB_NAME=notification_database

# --- AUDIT DATABASE ---
AUDIT_DB_USER=audit_user
AUDIT_DB_NAME=audit_database