go 1.27.0

use (
	./pkg
	./services/audit-service
	./services/auth-service
	./services/citizen-docs
	./services/gateway
	./services/officer-bff
	./services/notification-service
	./services/version-service
	./services/messaging-service
	./services/identity-service
	./services/document-renderer
)
