# Server
PORT=8095
READ_TIMEOUT=15s
WRITE_TIMEOUT=60s
MAX_REQUEST_BODY_BYTES=2097152

# Resources & Directories
TEMPLATES_DIR=./templates
ASSETS_DIR=./assets
CHROME_BIN=/usr/bin/chromium-browser

# Chromium & PDF Engine Concurrency
PDF_MAX_CONCURRENCY=4
PDF_RENDER_TIMEOUT=30s